---
import MainLayout from "@layouts/Main.astro";
import Author from "@components/Author.astro";
import { Image } from "@astrojs/image/components";
import { CollectionEntry, getCollection } from "astro:content";
import Tags from "@components/Tags.astro";
import InitialPageButton from "@components/InitialPageButton.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.date < new Date();
  });

  return posts.map((post) => ({
    params: {
      slug: `${post.data.author.toLowerCase().replace(" ", "")}/${post.slug}`,
    },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;

const { Content } = await post.render();
---

<MainLayout>
  <section class="m-8 grid md:gap-2 lg:m-auto lg:my-8 lg:max-w-3xl">
    <h1 class="text-3xl font-extrabold">{post.data.title}</h1>
    <Tags tags={post.data.tags} />
    <p class="text-lg font-semibold">{post.data.description}</p>
    <Author date={post.data.date} name={post.data.author} />
    <Image {...post.data.image} format="webp" class="max-w-2/3" />

    <article
      class="prose-xl prose-stone min-w-full mt-4 prose-h2:font-black prose-h2:hover:underline prose-h2:hover:text-sky-400 prose-h2:hover:cursor-pointer"
    >
      <Content />
    </article>

    <InitialPageButton />
  </section>
</MainLayout>