---
import MainLayout from "@layouts/Main.astro";
import Author from "@components/Author.astro";
import { CollectionEntry, getCollection } from "astro:content";
import InitialPageButton from "@components/InitialPageButton.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.date < new Date();
  });

  return posts.map((post) => ({
    params: {
      slug: `${post.data.author.toLowerCase().replace(" ", "")}/${post.slug}`,
    },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;

const { Content } = await post.render();

const tagToSlug = (tag: string): string => {
  return `/tag/${tag.toLowerCase()}/`;
};

const tags = post.data.tags;
---

<MainLayout
  description={post.data.description}
  imageUrl={post.data.imageMetaUrl}
  title={post.data.title}
>
  <section class="m-8 grid md:gap-2 lg:m-auto lg:my-8 lg:max-w-3xl">
    <h1 class="text-3xl font-extrabold">{post.data.title}</h1>
    <div class="flex gap-2 mb-2">
      {
        tags.map((tag) => (
          <a
            href={tagToSlug(tag)}
            class="text-gray-500 font-bold hover:cursor-pointer hover:underline hover:text-gray-400"
          >{`#${tag.toUpperCase()}`}</a>
        ))
      }
    </div>

    <Author date={post.data.date} name={post.data.author} />
    <article
      class="mb-8 prose-xl prose-stone min-w-full mt-4 prose-h1:font-black prose-h2:font-extrabold prose-h3:font-bold prose-a:text-blue-400 prose-a:font-semibold hover:prose-a:underline"
    >
      <Content />
    </article>

    <InitialPageButton />
  </section>
</MainLayout>
