---
import type { CollectionEntry } from "astro:content";

type Props = {
  hideAuthor?: boolean;
  index: number;
} & CollectionEntry<"blog">;

const { data, slug, index } = Astro.props as Props;

const formattedDate = data.date.toLocaleDateString("pt-BR", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const tagToSlug = (tag: string): string => {
  return `/tag/${tag.toLowerCase()}/`;
};
---

<div class="grid pb-2 border-b-2 border-b-slate-800 text-sm text-gray-200" data-title={data.title} data-tags={data.tags.join(',')}>
  <h1 class="font-black hover:underline text-lg">
    <a href={`/${data.author.toLowerCase().replace(" ", "")}/${slug}`}
      >{`${index + 1}. ${data.title}`}</a
    >
  </h1>
  <div class="flex gap-2">
    {
      data.tags.map((tag) => (
        <a
          href={tagToSlug(tag)}
          class="text-gray-500 font-semibold text-xs hover:cursor-pointer hover:underline hover:text-gray-400"
        >{`#${tag.toUpperCase()}`}</a>
      ))
    }
  </div>
  <div class="flex gap-1 place-items-center">
    <span
      class="text-gray-400 font-semibold hover:cursor-pointer hover:underline hover:text-gray-300"
    >
      <a href={`/${data.author.toLowerCase().replace(" ", "")}/`}>
        {data.author}</a
      ></span
    >
    {" · "}
    <span>{formattedDate}</span>
  </div>
</div>
